* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .back-btn {
    color: #4caF50;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    transition: 0.3s;
}

.back-btn a{
  color: #4caF50;
  text-decoration: none;
  font-size: 18px;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.3s;
}

.back-btn a:hover {
  color: #4caF50;
}

.logo {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 380px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.container h2 {
  margin-bottom: 5px;
  color: #4caF50;
}

.sub {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tab {
  padding: 8px 20px;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  background: #4caF50;
  color: white;
  text-decoration: none;
}

.tab.active {
  background: #fff;
  color: #4caF50;
}
.tab:hover {
  background: #4caF50;
  color: #fff;
}

.role {
  display: flex;
  gap: 10px;
  margin-bottom: 1.2rem;
}

.role-btn {
  flex: 1;
  padding: 0.6rem;
  border: 1.5px solid #f1f1f1;
  border-radius: 8px;
  background: #f1f1f1;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  color: #4caF50;
  width:160px;
}

.role-btn-positive {
  flex: 1;
  padding: 0.6rem;
  border: 1.5px solid #f1f1f1;
  border-radius: 8px;
  background: #4caF50;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  color: #f1f1f1;
  width:160px;
}

.role-btn:hover {
  background: #fff;
  color: #4caF50;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 14px;
}

.create-btn {
  width: 100%;
  padding: 10px;
  background: #4caF50;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.create-btn{
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background: #4caF50;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.create-btn:hover {
  background: #4caF50;
} 




 